:root {
  --main-font-family: "Inter";
  --main-dark-color:#1A1E27;
  --main-light-color: #ffffff;
  --second-light-color: #31B545;
  --accent-color: #5AC8FB;
  --main-color: #757575;
  --secondary-dark-color: #212121;
  --secondary-bc-color: #2f303a;
  --border-color: #ececec;
  --sec-border-color: #eeeeee;
  --icon-color: #afb1b8;
  --in-top-gap: 94px;
  --in-bottom-gap: 94px;
  --timing-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

